@model List<crud.Models.Reporte>

@{
    ViewData["Title"] = "Reportes";
}

<h1>Reportes</h1>

@if (Model == null){
    <h4>No hay ningun reporte aun</h4>
}else{
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Muertos</th>
            <th>Heridos</th>
            <th>Vehículos Involucrados</th>
            <th>Costo Estimado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var registro in Model)
        {
            <tr>
                <td>@registro.Id</td>
                <td>@registro.Muertos</td>
                <td>@registro.Heridos</td>
                <td>@registro.VehiculosInvolucrados</td>
                <td>@registro.CostoEstimado</td>
                <td>
                    <form asp-action="Eliminar" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@registro.Id" />
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
}
